
<head>

<title>chat page for {{username}}</title>

</head>

<body>
    

<h1> Welcome , {{username}}</h1>

<!--Print the chat messages-->
    {% for message in chat_messages %}
        <p>({{message.timestamp}}){{message.from}}:{{message.message}}</p>
    {% endfor %}

    <!--referesg the page for the values to appear-->
    <form action="POST">
    
        <textarea name="message" id="message" cols="50" rows="4"></textarea>
        <br>
        <button>Send Message</button>
    </form>




    <script>
    
        let timer=setTimeout(function(){
            location.reload();


        },5000)
    
    
    textbox.onkeydown=function(e){

        clearTimeout(timer)
        timer=setTimeout(function(){

            location.reload();
        },5000)

    }
    </script>

</body>

</html>